.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Upload_wrapper {
  margin-top: 5rem;
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
}

.UserpermissionWrapper {
  display: flex;
}

.avPermisionsWrapper {
  border: 1px solid gray;
  overflow: scroll;
  border-radius: 0.5rem;
  height: 400px;
  width: 400px;
}

.chPermisionsWrapper {
  border: 1px solid gray;
  border-radius: 0.5rem;
  height: 400px;
  width: 400px;
  overflow: scroll;
}

.AvpermissionHeader {
  background-color: rgb(226, 240, 244);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 12px;
  border-bottom: 1px solid gray;
}
.CuvpermissionHeader {
  background-color: rgb(50, 180, 223);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 12px;
  border-bottom: 1px solid gray;
}

.AvpListWrapper {
  padding-left: 12px;
}

.AvpListItem {
  font-size: 24px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonsStyle {
  border-radius: 5px;
}

.componentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttonSelectAll {
  all: unset;
}
